@inherits LayoutComponentBase

<div class="fixed inset-0 -z-10 bg-black/10 backdrop-blur"></div>
<div class="fixed inset-0 bg-center bg-[url('/images/bg.jpg')] -z-20"></div>

<main role="main" class="w-full h-full text-white">
    @Body
</main>